Repository leoric-crown/shared-context-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: database-tests, database-smoke-tests, config-validation, sql-syntax-check

database-tests:
  name: Database Schema & Validation Tests
  entry: pytest tests/test_database.py -v
  language: system
  pass_filenames: false
  description: Run database tests to prevent schema regressions

database-smoke-tests:
  name: Database Smoke Tests (Fast)
  entry: pytest tests/test_database.py::TestDatabaseSchemaSmoke -v
  language: system
  pass_filenames: false
  description: Run fast database smoke tests for critical database changes

config-validation:
  name: Configuration Validation
  entry: python -c "import sys; sys.path.insert(0, 'src'); from shared_context_server.config import validate_required_env_vars, load_config; validate_required_env_vars(); load_config('.env.example'); print('âœ… Configuration validation passed')"
  language: system
  ...

sql-syntax-check:
  name: SQL Syntax Validation
  entry: python -c "import sqlite3; import sys; f = open('database.sql', 'r'); sql_content = f.read(); f.close(); conn = sqlite3.connect(':memory:'); conn.executescript(sql_content); conn.close(); print('âœ… SQL syntax validation passed')"
  language: system
  ...

PRPs update (add docs review at end of each)
  PRPs/2-prps/002_phase-1-core-infrastructure.md
  PRPs/2-prps/003_phase-2-essential-features.md
  PRPs/2-prps/004_phase-3-multi-agent-features.md
  PRPs/2-prps/005_phase-4-production-ready.md
Due: none

Add ci.yml and .pre-commit-config.yaml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
Due: none

Complete Phase 1 & 2 Implementation - MVP Shared Context Server
  .claude/agents/tester.md
  .claude/development-standards.md
  .claude/tech-guides/testing.md
  .pre-commit-config.yaml
  CLAUDE.md
  PRPs/2-prps/003_phase-2-essential-features.md
  PRPs/2-prps/004_phase-3-multi-agent-features.md
  PRPs/2-prps/005_phase-4-production-ready.md
  PRPs/3-completed/002_phase-1-core-infrastructure.md
  README.md
  pyproject.toml
  src/shared_context_server/config.py
  src/shared_context_server/database.py
  src/shared_context_server/models.py
  src/shared_context_server/scripts/dev.py
  src/shared_context_server/server.py
  src/shared_context_server/tools.py
  src/shared_context_server/tools/__init__.py
  tests/behavioral/test_phase2_integration.py
  tests/behavioral/test_visibility.py
  tests/conftest.py
  tests/integration/test_agent_memory.py
  tests/integration/test_agent_workflow.py
  tests/performance/test_rapidfuzz_search.py
  tests/test_basic_import.py
  tests/test_database.py
  tests/test_phase1_end_to_end.py
  tests/test_phase2_smoke.py
  tests/test_smoke.py
  tests/unit/test_message_storage.py
  tests/unit/test_session_management.py
  uv.lock
Due: database-tests, database-smoke-tests, config-validation

Add Production CLI & pipx Support - Ready for Distribution
  pyproject.toml
  src/shared_context_server/scripts/cli.py
  uv.lock
Due: none

Implement Hot Reload Development System with MCP Integration
  .env.example
  CLAUDE.md
  PRPs/2-prps/003_phase-2-essential-features.md
  PRPs/2-prps/004_phase-3-multi-agent-features.md
  PRPs/2-prps/005_phase-4-production-ready.md
  README.md
  docs/README.md
  docs/dev-quick-start.md
  docs/development-setup.md
  pyproject.toml
  src/shared_context_server/config.py
  src/shared_context_server/scripts/cli.py
  src/shared_context_server/scripts/dev.py
  uv.lock
Due: database-tests, config-validation

Add File Logging with Automatic Rotation for Development Server
  PRPs/2-prps/003_phase-2-essential-features.md
  PRPs/2-prps/004_phase-3-multi-agent-features.md
  PRPs/2-prps/005_phase-4-production-ready.md
  docs/dev-quick-start.md
  docs/development-setup.md
  src/shared_context_server/scripts/dev.py
Due: none

Fix logging system: respect LOG_LEVEL environment variable and capture subprocess output
  src/shared_context_server/config.py
  src/shared_context_server/scripts/cli.py
  src/shared_context_server/scripts/dev.py
Due: database-tests, config-validation

Complete PRP-004 Phase 3 Multi-Agent Features Implementation
  .claude/tech-guides/testing.md
  .gitignore
  PRPs/2-prps/004_phase-3-multi-agent-features.md
  database.sql
  migrations/002_add_sender_type_column.py
  pyproject.toml
  src/shared_context_server/auth.py
  src/shared_context_server/database.py
  src/shared_context_server/scripts/dev.py
  src/shared_context_server/server.py
  tests/behavioral/test_phase2_integration.py
  tests/behavioral/test_visibility.py
  tests/conftest.py
  tests/integration/test_agent_memory.py
  tests/integration/test_agent_workflow.py
  tests/test_database.py
  uv.lock
Due: database-tests, database-smoke-tests, sql-syntax-check

Fix authentication context and memory operation test failures
  pyproject.toml
  src/shared_context_server/auth.py
  src/shared_context_server/server.py
  tests/unit/test_auth_audit.py
  tests/unit/test_auth_context.py
  tests/unit/test_auth_jwt.py
  tests/unit/test_auth_permissions.py
  tests/unit/test_server_errors.py
  tests/unit/test_server_memory.py
Due: none

Complete Phase 3 Multi-Agent Features - Production Ready Security & Admin Controls
  .gitignore
  PRPs/3-completed/003_phase-2-essential-features.md
  PRPs/3-completed/004_phase-3-multi-agent-features.md
  pyproject.toml
  src/shared_context_server/server.py
  tests/behavioral/test_visibility.py
  tests/conftest.py
  tests/security/__init__.py
  tests/security/test_agent_memory_isolation.py
  tests/security/test_authentication_security.py
  tests/security/test_message_visibility.py
  tests/security/test_uat_reproduction.py
  tests/unit/test_message_storage.py
  tests/unit/test_server_authentication.py
  tests/unit/test_server_background.py
  tests/unit/test_server_integration.py
  tests/unit/test_server_resources.py
  tests/unit/test_server_search.py
  tests/unit/test_server_sessions.py
Due: none

Format and lint
  PRPs/2-prps/005_phase-4-production-ready.md
Due: none

Align pre-commit and CI/CD behaviour
  .claude/agents/developer.md
  .claude/agents/docs.md
  .claude/agents/refactor.md
  .claude/agents/task-coordinator.md
  .claude/commands/execute-prp.md
  .claude/commands/feature-planning.md
  .claude/commands/generate-prp.md
  .claude/tech-guides/core-architecture.md
  .claude/tech-guides/data-validation.md
  .claude/tech-guides/error-handling.md
  .claude/tech-guides/framework-integration.md
  .claude/tech-guides/performance-optimization.md
  .claude/tech-guides/security-authentication.md
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  LICENSE
  PRPs/1-planning/shared-context-mcp-server/FINAL_DECOMPOSED_IMPLEMENTATION_PLAN.md
  PRPs/1-planning/shared-context-mcp-server/developer-technical-plan.md
  PRPs/1-planning/shared-context-mcp-server/docs-integration-plan.md
  PRPs/1-planning/shared-context-mcp-server/shared-context-mcp-server.md
  PRPs/1-planning/shared-context-mcp-server/tester-quality-plan.md
  PRPs/templates/feature_planning_base.md
  tests/behavioral/test_phase2_integration.py
  tests/conftest.py
  tests/integration/test_agent_memory.py
  tests/performance/test_performance_targets.py
  tests/performance/test_rapidfuzz_search.py
  tests/security/test_uat_reproduction.py
  tests/test_database.py
  tests/test_phase1_end_to_end.py
  tests/test_phase2_smoke.py
  tests/test_smoke.py
  tests/unit/test_caching_comprehensive.py
  tests/unit/test_config_comprehensive.py
  tests/unit/test_models_comprehensive.py
  tests/unit/test_performance_comprehensive.py
  tests/unit/test_server_authentication.py
  tests/unit/test_server_errors.py
  tests/unit/test_server_memory.py
Due: database-tests

Fix ci.yml
  .github/workflows/ci.yml
Due: none

Fix ci.yml
  GEMINI.md
  PRPs/1-planning/shared-context-mcp-server/tester-quality-plan.md
  tests/unit/test_config_environment_variables.py
Due: none

CI: Upload coverage.xml
  .github/workflows/ci.yml
  coverage.xml
Due: none

Self-documenting Makefile
  Makefile
  coverage.xml
  scripts/makefile_help.py
Due: none

Refactor configuration for smart database path detection
  pyproject.toml
  src/shared_context_server/config.py
  src/shared_context_server/scripts/cli.py
  tests/unit/test_cli_comprehensive.py
  tests/unit/test_config_environment_variables.py
  uv.lock
Due: database-tests, config-validation

Add Docker support and fix uvicorn deprecation warnings
  .env.docker
  DOCKER.md
  Dockerfile
  Makefile
  README.md
  coverage.xml
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  pyproject.toml
  src/shared_context_server/config.py
  src/shared_context_server/database.py
  src/shared_context_server/scripts/cli.py
  src/shared_context_server/server.py
  tests/test_smoke.py
  tests/unit/test_config_comprehensive.py
  tests/unit/test_config_environment_variables.py
  tests/unit/test_config_validation.py
  uv.lock
Due: database-tests, database-smoke-tests, config-validation

Enhance README setup instructions and fix Docker security warning
  Dockerfile
  README.md
  coverage.xml
Due: none

Improve CI coverage upload reliability and add Codecov configuration
  .github/workflows/ci.yml
  codecov.yml
Due: none

Add essential project badges to README and update coverage report
  README.md
  coverage.xml
Due: none

Enhance client configuration with dynamic hostname support
  .env.docker
  .env.example
  README.md
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  src/shared_context_server/scripts/cli.py
Due: config-validation

Extract metadata parsing helper to eliminate code duplication
  coverage.xml
  src/shared_context_server/models.py
  src/shared_context_server/server.py
Due: database-tests, database-smoke-tests

Add Docker publishing workflow and GHCR integration
  .github/workflows/docker-publish.yml
  README.md
  docker-compose.prod.yml
  docker-compose.yml
Due: none

Add Docker publishing workflow and GHCR integration
  .github/workflows/docker-publish.yml
Due: none

Update README.md with Docker publishing instructions [skip ci]
  README.md
Due: none

Update Makefile docker command for ghcr integration [skip ci]
  Makefile
  coverage.xml
  docker-compose.yml
Due: none

Enhance authentication system with comprehensive test coverage
  coverage.xml
  pyproject.toml
  src/shared_context_server/auth.py
  src/shared_context_server/server.py
  tests/unit/test_auth_context.py
  tests/unit/test_cli_comprehensive.py
  tests/unit/test_cli_extreme_edge_cases.py
  tests/unit/test_cli_missing_coverage.py
  tests/unit/test_config_environment_variables.py
  tests/unit/test_performance_comprehensive.py
  tests/unit/test_server_authentication.py
  tests/unit/test_server_integration.py
Due: none

Add secure token authentication and comprehensive E2E testing infrastructure
  .claude/commands/run-e2e-regression.md
  .claude/tech-guides/web-ui-architecture.md
  .env.docker
  .env.example
  DOCKER.md
  PRPs/1-planning/secure-token-authentication/secure-token-authentication-plan.md
  PRPs/3-completed/005_phase-4-production-ready.md
  PRPs/3-completed/006_secure-token-authentication.md
  README.md
  coverage.xml
  database.sql
  docker-compose.yml
  pyproject.toml
  src/shared_context_server/auth.py
  src/shared_context_server/database.py
  src/shared_context_server/scripts/cli.py
  src/shared_context_server/server.py
  tests/conftest.py
  tests/e2e-llm-regression-test.md
  tests/test_database.py
  tests/unit/test_secure_token_authentication.py
  tests/unit/test_server_authentication.py
  uv.lock
Due: database-tests, database-smoke-tests, config-validation, sql-syntax-check

Achieve 89.4% test coverage with comprehensive edge case testing
  .claude/commands/run-e2e-regression.md
  coverage.xml
  pyproject.toml
  src/shared_context_server/auth.py
  src/shared_context_server/database.py
  src/shared_context_server/server.py
  tests/e2e-llm-regression-test.md
  tests/unit/test_auth_context.py
  tests/unit/test_auth_token_validation.py
  tests/unit/test_database_schema_recovery.py
  tests/unit/test_performance_metrics_access.py
  tests/unit/test_secure_token_authentication.py
  tests/unit/test_server_health_and_refresh.py
  uv.lock
Due: database-tests, database-smoke-tests

Fix CI test failures by adding JWT_SECRET_KEY environment variable
  .github/workflows/ci.yml
  coverage.xml
Due: none

Fix CI test failures by adding JWT_SECRET_KEY environment variable
  .github/workflows/ci.yml
  coverage.xml
  pyproject.toml
  src/shared_context_server/__init__.py
  src/shared_context_server/scripts/cli.py
  uv.lock
Due: none

Fix CI test failures by adding JWT_SECRET_KEY environment variable
  pyproject.toml
  src/shared_context_server/__init__.py
  src/shared_context_server/scripts/cli.py
  uv.lock
Due: none

Fix CI authentication tests with lazy auth manager initialization
  src/shared_context_server/auth.py
  src/shared_context_server/server.py
Due: none

Fix auth_manager mocking with AuthManagerProxy pattern
  .github/workflows/docker-publish.yml
  coverage.xml
  src/shared_context_server/auth.py
  src/shared_context_server/server.py
Due: none

Fix authentication system for cross-version CI compatibility
  .github/workflows/ci.yml
  .gitignore
  coverage.xml
  src/shared_context_server/auth.py
Due: none

Fix default port inconsistency across codebase
  src/shared_context_server/config.py
  src/shared_context_server/scripts/cli.py
  tests/unit/test_cli_comprehensive.py
  tests/unit/test_cli_missing_coverage.py
  tests/unit/test_config_environment_variables.py
Due: database-tests, config-validation

(docs) Overhaul all documentation
  .claude/tech-guides/core-architecture.md
  .claude/tech-guides/data-validation.md
  .claude/tech-guides/error-handling.md
  .claude/tech-guides/framework-integration.md
  .claude/tech-guides/performance-optimization.md
  .claude/tech-guides/security-authentication.md
  .claude/tech-guides/testing.md
  .claude/tech-guides/web-ui-architecture.md
  CLAUDE.md
  GEMINI.md
  Makefile
  PRPs/1-planning/database-adapter-pattern/database-adapter-pattern.md
  README.md
  coverage.xml
  docs/README.md
  docs/api-reference.md
  docs/dev-quick-start.md
  docs/development-setup.md
  docs/development.md
  docs/integration-guide.md
  docs/performance-guide.md
  docs/production-deployment.md
  docs/quick-reference.md
  docs/troubleshooting.md
  migrations/002_add_sender_type_column.py
  pyproject.toml
  scripts/coverage_dashboard.py
  scripts/coverage_tracker.py
  scripts/module_coverage.py
  uv.lock
Due: none

Path conditions:
  database-tests: any of: ^(src/shared_context_server/(database|models|config)\.py|database\.sql|tests/test_database\.py)$ and \.py$
  database-smoke-tests: any of: ^(src/shared_context_server/(database|models)\.py|database\.sql)$ and \.py$
  config-validation: any of: ^(\.env\.example|src/shared_context_server/config\.py)$
  sql-syntax-check: any of: ^database\.sql$
